**/*.map
.vscode/**
.vscode-test/**
.github/**
node_modules/**
!node_modules/7zip-bin/**
out/test/**
src/**
.gitignore
.gitattributes
tsconfig.json
esbuild.js
webpack.config.js
.eslintrc.json
**/*.vsix
.git/**
*.log
test/**
extension.js.map
**/*.md
!changelog.md
!LICENSE.md
!readme.md
.nvmrc